footer {
  background-color: #282c34;
  min-height: 30vh;
  color: white;
  position: relative;
}

.gray {
  background-color: #282c34;
  position: relative;
  top: -10rem;
  min-height: 10rem;
  z-index: -10;
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 4rem;
}

.footer__logo-container img {
  width: 2rem;
  height: 2rem;
}

.footer__logo-container p {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 700;
}

.footer__text-disclaimer {
  font-family: var(--secondary-font);
  font-size: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: 100;
}

.footer__button {
  background-color: transparent;
  border: 2px solid var(--secondary-color-lime);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-family: var(--secondary-font);
}
.footer__button:hover {
  background-color: var(--secondary-color-lime);
  color: black;
  transition: all 0.25s ease-in-out;
  translate: scale(1.1);
}

.footer__description {
  text-align: left;
  font-family: var(--secondary-font);
  max-width: 75ch;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 4rem;
}
