/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Oxygen:wght@300;400;700&display=swap");
/* 
font-family: 'Oxygen', sans-serif; 
font-family: 'Noto Serif', serif;
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* background-color: rgba(250, 128, 114, 0.5); */
}

.section {
  width: 100%;
  min-height: 80vh;
  min-height: 80svh;
}
.section__container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 0.5em;
}

/* header */
.header {
  background-color: #423a86;
  color: #f2f2f2;
  position: sticky;
  top: 0;
  transition-property: top;
  transition-duration: 1s;
  transition-delay: 0s;
}
.header-hide {
  top: -50%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
  display: flex;
  gap: 1.25rem;
}
.header__title {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
}

/* landing */
.landing {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__container {
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.landing__text-title {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 120%;
}
.landing__text-subtitle {
  font-size: 1rem;
  padding: 2rem 0;
  line-height: 140%;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
  color: #f2f2f2;
  max-width: 70ch;
}
.landing__contact-container {
  width: 100%;
  text-align: center;
}
button.landing__contact {
  padding: 1rem 2rem;
  border-radius: 100vh;
  letter-spacing: 0.1rem;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  border: 0;
  outline: 2px solid white;
  outline-offset: 0.25rem;
  cursor: pointer;
}
button.landing__contact:hover {
  transform: translateY(-1%);
  background-color: rgb(41, 3, 116);
  transition: background-color 0.222s ease-in-out 0.022s;
  color: white;
}
.landing__image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.landing__image img {
  width: 100%;
  max-width: 20rem;
}

/* section about */
.about {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 4rem 0;
}
.about__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}
.about__title,
.portfolio__title {
  text-transform: uppercase;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #302b63;
  font-size: 1rem;
}
.about__subtitle {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 1.5rem;
  line-height: 120%;
  padding-top: 0.25rem;
}
.about__text {
  padding-top: 1rem;
  font-family: "Noto Serif", serif;
  line-height: 140%;
  letter-spacing: 1px;
}
.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about__image img {
  width: 100%;
  max-width: 18rem;
}

.about__icons-title {
  padding-top: 2rem;
  font-family: "Noto Serif", serif;
  line-height: 140%;
  letter-spacing: 1px;
}
.about__icons-list {
  margin-top: 1rem;
  padding-top: 0.75rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.about__icons {
  width: 2.25rem;
  height: auto;
}

/* portfolio */
.portfolio {
  padding: 4rem 0;
}

.portfolio-grid {
  margin-top: 1rem;
}

.portfolio__card {
  background-color: #f2f2f2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif", serif;
  line-height: 140%;
  margin-top: 2rem;
  gap: 1rem;
}

.portfolio__card__image > img {
  width: 100%;
}

.portfolio__card__hr {
  width: 4rem;
  height: 0.75rem;
  border: none;
  background-color: #22222222;
  margin: 1rem;
}
.portfolio__desc-title {
  text-transform: uppercase;
  color: #222222;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.portfolio__desc-tech {
  margin-top: 1rem;
}

.portfolio__desc-content {
  margin-top: 1rem;
  white-space: pre-wrap;
}
.portfolio__card__login {
  margin-top: 1rem;
}
.portfolio__card__link {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  color: #423a86;
  font-family: "Oxygen", sans-serif;
}
.portfolio__card__link a {
  text-decoration: none;
  color: #423a86;
  transition: all;
  transition-delay: 0.0222s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}
.portfolio__card__link a:hover {
  text-decoration: none;
  color: #423a8690;
  transform: translateY(-2px);
}
.portfolio__card__link p {
  font-size: 0.75rem;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 725px) {
  .about__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .about__content {
    order: 1;
  }
  .about__image {
    order: 2;
  }
  .portfolio__card * {
    /* outline: 1px solid pink; */
  }

  .portfolio__card {
    flex-direction: row;
    gap: 2.25rem;
    flex-wrap: wrap;
    padding: 1.25rem;
    justify-content: start;
    align-items: start;
  }
  .portfolio__card__image {
    flex-basis: 15rem;
  }
  .portfolio__card__image > img {
    width: 100%;
  }
  .portfolio__card__desc {
    flex-basis: 60%;
  }
  .portfolio__desc-tech {
    text-align: left;
  }

  .portfolio__card__link {
    padding: 1rem;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
}
